%h1=@player.full_name
%ul.pagination
  %li{class: @years.include?(@season - 1) ? '' : 'disabled'}
    %a{href: "?season=#{@season - 1}"} &laquo;
  - @years.each do |year|
    %li{class: year == @season ? 'active' : ''}
      %a{href: "?season=#{year}"}=year
  %li{class: @years.include?(@season + 1) ? '' : 'disabled'}
    %a{href: "?season=#{@season + 1}"} &raquo;
.row
  %ul.nav.nav-tabs
    %li.active
      %a#player-tab{href: "#player", 'data-toggle' => "tab"}Player
    %li
      %a#team-tab{href: "#team", 'data-toggle' => "tab"}Team
    %li
      %a#opposing-team-tab{href: "#opposing-team", 'data-toggle' => "tab"}Opposing Team
  .tab-content
    #player.tab-pane.fade.in.active
      %svg#player-viz.col-xs-12.col-md-8.col-md-offset-2
    #team.tab-pane.fade.in
      %svg#team-viz.col-xs-12.col-md-8.col-md-offset-2
    #opposing-team.tab-pane.fade.in
      %svg#opposing-team-viz.col-xs-12.col-md-8.col-md-offset-2
- content_for(:js) do
  :javascript
    $(document).on('turbolinks:load', function() {
      getPlayerShotChart();
    });
